# Uppgift 0 - uppvärmning med riket

### 0.a

### Import libraries

In [350]:
# Import the pandas library, typically aliased as 'pd', for data manipulation and analysis.
import pandas as pd

# Import seaborn library, typically aliased as 'sns', for statistical data visualization.
import seaborn as sns

# Import the matplotlib.pyplot module, typically aliased as 'plt', for creating plots and visualizations.
import matplotlib.pyplot as plt

# Import the numpy library, typically aliased as 'np', for numerical computing.
import numpy as np

# Import the os module for operating system-related functionalities.
import os

# Import the display function from the IPython.display module for displaying rich representations of objects.
from IPython.display import display

### Import data paths

In [351]:
# Create a dictionary containing file paths for differens datasets.
data_paths = {
    'riket2023_åk9_np': "data/riket2023_åk9_np.xlsx",
    'betyg_o_prov_riksnivå': "data/betyg_o_prov_riksnivå.xlsx",
}
# Assign a variable to the dataset.
nationwide2023_grade9_nt = data_paths['riket2023_åk9_np']
# Assign a variable to the dataset.
grades_and_tests_national_level = data_paths['betyg_o_prov_riksnivå']

### Set Data Structure

In [352]:
# Read an Excel file specified by the variable 'nationwide2023_grade9_nt'.
# Skip the first 8 rows while reading the Excel file.
# Read specific sheets named "Engelska", "Matematik", "Svenska", and "Svenska som andraspråk".
df_dict = pd.read_excel(nationwide2023_grade9_nt, skiprows=8, sheet_name=["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"])

### Rename DataFrames

In [354]:
# Rename the columns of the DataFrame 'df' with descriptive names to clarify the meaning of each column.
df.columns = ["Plats","Huvudman","Totalt (A-F)","Flickor (A-F)","Pojkar (A-F)","Totalt (A-E)","Flickor (A-E)","Pojkar (A-E)","Totalt (poäng)","Flickor (poäng)","Pojkar (poäng)"]

In [355]:
# Iterate over each item (sheet_name, df) in the dictionary df_dict using a for loop.
for sheet_name, df in df_dict.items():
    # Print a message indicating the current sheet being displayed.
    print(f"Resultat för {sheet_name}:")
    # Display the DataFrame corresponding to the current sheet using the display function available in Jupyter Notebook.
    display(df)

Resultat för Engelska:

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

Resultat för Matematik:

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

Resultat för Svenska:

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

Resultat för Svenska som andraspråk:

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..

### Replace null values with 0

In [363]:
# Set a Pandas option to enable the future behavior of no silent downcasting.
# This ensures that any downcasting behavior in Pandas, which is deprecated and will be removed in future versions, does not occur silently.
pd.set_option("future.no_silent_downcasting", True)

# Replace ".." values in the DataFrame with 0.
# This replaces ".." with 0 to handle missing data or unspecified values as 0.
# However, note that the downcasting behavior warning mentioned earlier may still apply.
df.replace("..", 0)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,0,0,0,0,0,0,0,0,0